<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    const ID = "<%= id %>"
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="room/room.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <script src="room/room.js" defer></script>
</head>

<body>
  <div id="visualized-data">
    <div class="open-and-close" onclick="openOrClose(event)">
      <div class="title-bar">HEART RATE & SPO2<i class="fa-solid fa-caret-down"></i></div>
      <div class="main-content" id="hr-spo2">
        <div class="data">
          <div class="hr-data"><span class="raw-data">0</span><span class="unit">&nbsp;BPM</span></div>
          <div class="spo2-data"><span class="raw-data">0</span><span class="unit">&nbsp;%</span></div>
        </div>
        <div class="chart"></div>
      </div>
    </div>

    <div class="open-and-close" onclick="openOrClose(event)">
      <div class="title-bar">TEMPERATURE<i class="fa-solid fa-caret-down"></i></div>
      <div class="main-content" id="temperature">
        <div class="data">
          <div class="ambient-data">Ambient Temperature: <span class="raw-data">0</span><span
              class="unit">&nbsp;°C</span></div>
          <div class="object-data">Object Temperature: <span class="raw-data">0</span><span class="unit">&nbsp;°C</span>
          </div>
        </div>
        <div class="chart"></div>
      </div>
    </div>

    <div class="open-and-close" onclick="openOrClose(event)">
      <div class="title-bar">BLOOD PRESSURE<i class="fa-solid fa-caret-down"></i></div>
      <div class="main-content" id="blood-pressure">
        <div class="data">
          <div class="sys-data"><span class="raw-data">0</span><span class="unit">&nbsp;mmHg</span></div>
          <div class="dia-data"><span class="raw-data">0</span><span class="unit">&nbsp;mmHg</span></div>
        </div>
        <div class="chart"></div>
      </div>
    </div>

    <div class="open-and-close" onclick="openOrClose(event)">
      <div class="title-bar">REALTIME GPS<i class="fa-solid fa-caret-down"></i></div>
      <div class="main-content" id="map">

      </div>
    </div>
  </div>
</body>

</html>