#raw-data > .info::before {
  content: attr(data-label);
  padding-right: 10px;
}

#info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 400px;
  gap: 5px;
  padding: 5px;
}

#info-grid > .info {
  background-color: #ccc;
}